<div class="bg" [@openClose]="!beginBattle ? 'open' : 'closed'" *ngIf="!beginBattle2">
  <div class="container">
    <div class="row">
      <div class="custom">
        <div class="col-md-12 text-center">
          <img class="header" src="../../assets/images/logo/Pokemon-Logo.png" alt="Pokemon logo" [routerLink]="['/']" style="cursor: pointer">
        </div>
        <div class="battle text-center">
          <div class="col-md-1"></div>
          <div class="col-md-4 groep">
            <h1>Groep {{this.groep1}}</h1>
            <hr>
            <div class="scroll">
              <div class="header_back_board" *ngFor="let k of pokemonGroep1; let index = index">
                <div class="row">
                  <div class="col-md-4" style="height: 100%">
                    <img src="../../assets/images/pokemon/{{k.id}}.png" alt="" class="header_back_board2">
                  </div>
                  <div class="col-md-2" style="margin-top: 5%">
                    <span *ngIf="index !== 0" class="glyphicon glyphicon-arrow-up" aria-hidden="true" (click)="moveUpwards(1, index)"></span>
                    <br>
                    <span class="glyphicon glyphicon-remove" (click)="removeFromList(1, index)" *ngIf="pokemonGroep1.length > 3"></span>
                    <br *ngIf="pokemonGroep1.length > 3">
                    <span *ngIf="index !== pokemonGroep1.length - 1" class="glyphicon glyphicon-arrow-down" aria-hidden="true" (click)="moveDownwards(1, index)"></span>
                  </div>
                  <div class="col-md-6">
                    <h2>{{k.name}}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 knop"><button class="btn btn-primary customKnop" (click)="pokemonBattle()">Battle!</button></div>
          <div class="col-md-4 groep">
            <h1>Groep {{this.groep2}}</h1>
            <hr>
            <div class="scroll">
              <div class="header_back_board" *ngFor="let i of pokemonGroep2; let index = index">
                <div class="row">
                  <div class="col-md-4" style="height: 100%">
                    <img src="../../assets/images/pokemon/{{i.id}}.png" alt="" class="header_back_board2">
                  </div>
                  <div class="col-md-2" style="margin-top: 3%">
                    <span *ngIf="index !== 0" class="glyphicon glyphicon-arrow-up" aria-hidden="true" (click)="moveUpwards(2, index)"></span>
                    <br>
                    <span class="glyphicon glyphicon-remove" (click)="removeFromList(2, index)" *ngIf="pokemonGroep2.length > 3"></span>
                    <br *ngIf="pokemonGroep2.length > 3">
                    <span *ngIf="index !== pokemonGroep2.length - 1" class="glyphicon glyphicon-arrow-down" aria-hidden="true" (click)="moveDownwards(2, index)"></span>
                  </div>
                  <div class="col-md-6">
                    <h2>{{i.name}}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="beginGevecht" [@openClose]="!switch ? 'closed' : 'open'" [ngClass]="(beginBattle2)?'show':'verberg'">
  <img #pok1 class="pokemon1" src="../../assets/images/pokemon/back/{{this.pokemonGroep1[this.ListIndex].id}}.png" alt="Pokemon 1">
  <img #pok2 class="pokemon2" src="../../assets/images/pokemon/{{this.pokemonGroep2[this.ListIndex].id}}.png" alt="Pokemon 2">
</div>
