<div class="row">
  <div class="col wd">
    <div style="text-align: center;">
      <h2 *ngFor="let user of users">{{user.naam}}</h2>
      <h1>Login</h1>
    </div>
    <form #postForm="ngForm" (ngSubmit)="onFormSubmit(postForm.value)" class="text-center">
      <label for="studentnummer">Studentnummer</label>
      <div class="forangular m-group mb3">
        <input type="text" [ngClass]="{'failure': !succes}" class="form-control" id="studentnummer" required ngModel name="studentnummer"/>
      </div>
      <label for="groep">Groep</label>
      <div class="form-group mb-3">
        <input type="txet" [ngClass]="{'failure': !succes}" class="form-control" id="groep" required ngModel name="groep"/>
      </div>

      <div class="row clearfix das">
        <div class="col text-right float-right"><button type="submit" class="btn btn-lg btn-block login-active" [disabled]="!postForm.valid">Login</button></div>
      </div>
    </form>
  </div>
</div>

